@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body { 
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    background-color: rgb(17, 15, 13);
}

.Header {
    font-family: 'VT323', monospace;
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2c1d1d;
    padding: 20px;
    border-radius: 12px;
    box-shadow: #6a3e0a 0px 0px 8px;
    

}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 260px;
}

.btn {
    background-color: #cf9b00;
    color: white;
    border: none;
    padding: 14px 22px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
    transform: scale(1);
    font-family: 'VT323', monospace;
}

.btn:hover {
    background-color: #da6f05;
    transform: scale(1.05);
}
.btn:active {
    background-color: #964b00;
}

.operator {
    background-color: #1a1008;
    color: #cf9b00;
    border: none;
    padding: 14px 22px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
    transform: scale(1);
    font-family: 'VT323', monospace;

}
.operator:hover {
    background-color: #2a1a0a;
    transform: scale(1.05);

}
.operator:active {
    background-color: #3a2510;
}

#equals {
    background-color: #da6f05;
    color: white;
    border: none;
    padding: 14px 22px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: background-color 0.3s;
    transform: scale(1);
    font-family: 'VT323', monospace;
}
#equals:hover {
    background-color: #e88010;
    transform: scale(1.05);
}
#equals:active {
    background-color: #964b00;
    transform: scale(1);
}

#clear {
    background-color: #4e2e05;
    color: #ffcc55;
    border: none;
    padding: 12px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    min-width: 100px;
    transition: background-color 0.3s;
    transform: scale(1);
    font-family: 'VT323', monospace;

}
#clear:hover {
    background-color: #6a3e0a;
    transform: scale(1.05);
}
#clear:active {
    background-color: #7a4e14;
    transform: scale(1);
}
#clear:focus {
    outline: none;
}

#display {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 8px;
    background-color: #1a1008;
    color: #ffcc55;
    font-family: "vt323", monospace;
    box-sizing: border-box;
    outline: none;
}

.footer {
    margin-top: 20px;
    text-align: center;
    color: #ffffff;
    font-family: "vt323", monospace;
    font-size: 14px;
}
a {
    color: #ffcc55;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.idk {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#backspace {
    background-color: #4e2e05;
    color: #ffcc55;
    border: none;
    padding: 12px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    min-width: 100px;
    transition: background-color 0.3s;
    transform: scale(1);
    flex-grow: 1;
    font-family: "vt323", monospace;
}
#backspace:hover {
    background-color: #6a3e0a;
    transform: scale(1.05);
}
#backspace:active {
    background-color: #7a4e14;
    transform: scale(1);
}